<%= form_tag url_for(:controller => controller_name, :action => "add_to_collection"), :id => 'add_to_collection_form', :class => "form-horizontal ajax_form", :method => :post do %>
  <div class="modal-body">
    <%= render :partial=>'/flash_msg' %>
    <div class="form-group">
      <label class="control-label col-sm-2" for="collection">
        Select collection
      </label>
      <div class="col-sm-10">
        <%= select_tag(:collection, options_for_select(available_collections), class: 'form-control') %><br/>
      </div>

    </div>
    <%=hidden_field_tag "id", request.params[:id] %>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
