<div class="row">
  <%= form_tag search_action_url, method: :get, class: 'search-query-form clearfix navbar-form container', role: 'search' do %>
    <%= render_hash_as_hidden_fields(search_state.params_for_search.except(:q, :search_field, :qt, :page, :utf8)) %>
    <%= hidden_field_tag :search_field, search_fields.first.last %>
    <h1 class="homepage-title">
      <span class="homepage-title-small">Digital</span><br>
      <span class="homepage-title-large">Collections</span>
    </h1>
    
    <div class="search-field-input-wrapper">
      <label for="q" class="sr-only">
        <%= t('blacklight.search.form.search.label') %>
      </label>
      <%= text_field_tag :q, params[:q], placeholder: t('blacklight.search.form.search.placeholder'), class: "search_q q form-control searchbar__text", id: "q", autofocus: should_autofocus_on_search_box?, data: { autocomplete_enabled: autocomplete_enabled?, autocomplete_path: blacklight.suggest_index_path }  %>
      <button type="submit" class="search-btn" id="search">
        <span class="fa fa-search" aria-hidden="true"></span>
        <span class="sr-only">
          <%= t('blacklight.search.form.submit') %>
        </span>
      </button>
    </div>      
    <div class="search-constraints">
      <% if query_has_constraints? %>
        <%= render_constraints(params) %>
        <div class="facets__clearall">
          <%=link_to 'Clear All', start_over_path, :class => "", :id=>"startOverLink" %>
        </div>
      <% end %>
    </div>
    <div class="home-photo-credit">
      <div class="photo-credit">
        <div class="image-credit-icon">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="234" height="213" viewBox="0 0 234 213">
            <g>
              <g transform="translate(-733 -142)">
                <path fill="#ebebeb" d="M965.51 185c.82 0 1.49.61 1.49 1.37v167.26c0 .76-.67 1.37-1.49 1.37H734.49c-.82 0-1.49-.61-1.49-1.37V186.37c0-.75.67-1.37 1.49-1.37zM945 142v11H754v-11zm12 22v11H744v-11z"></path>
              </g>
            </g>
          </svg>
        </div>
      </div>
      <a href="/catalog/W366794_urn-3:HUL.ARCH:1110380">View item details</a>
    </div>
  <% end %>
</div>