
<div class="row">
  <div class="large-3 columns home-page-list home-page-list__formats">
    <h3>Formats</h3>
    <ul class="no-bullet">

      <li><%= image_tag('icons/ArchivalItems.svg') %><a href="#" class="">Archival Items</a></li>
      <li><%= image_tag('icons/Audio.svg') %><a href="/catalog?f%5BcontentModel%5D%5B%5D=AUDIO" class="">Audio</a></li>
      <li><%= image_tag('icons/Books.svg') %><a href="#" class="">Books</a></li>
      <li><%= image_tag('icons/DrawingsIllustrations.svg') %><a href="#" class="">Drawings &amp; Illustrations</a></li>
      <li><%= image_tag('icons/Manuscripts.svg') %><a href="#" class="">Manuscripts</a></li>
      <li><%= image_tag('icons/Maps.svg') %><a href="#" class="">Maps</a></li>
      <li><%= image_tag('icons/Objects.svg') %><a href="#" class="">Objects</a></li>
      <li><%= image_tag('icons/Periodicals.svg') %><a href="#" class="">Periodicals</a></li>
      <li><%= image_tag('icons/Photographs.svg') %><a href="#" class="">Photographs</a></li>
      <li><%= image_tag('icons/Posters.svg') %><a href="#" class="">Posters</a></li>
      <li><%= image_tag('icons/VideoMovingImages.svg') %><a href="#" class="">Video &amp; Moving Images</a></li>

    </ul>

  </div>
  <div class="large-3 columns home-page-list">
    <h3>Languages</h3>
    <ul class="no-bullet">
      <li><a href="#">Arabic</a></li>
      <li><a href="#">Chinese</a></li>
      <li><a href="#">English</a></li>
      <li><a href="#">French</a></li>
      <li><a href="#">German</a></li>
      <li><a href="#">Greek</a></li>
      <li><a href="#">Hebrew</a></li>
      <li><a href="#">Italian</a></li>
      <li><a href="#">Japanese</a></li>
      <li><a href="#">Latin</a></li>
      <li><a href="#">Russian </a></li>
      <li><a href="#">Spanish</a></li>
      <li><a href="#">Turkish</a></li>
      <li><a href="#">+ See All Languages</a></li>
    </ul>

  </div>
  <div class="large-3 columns home-page-list">
    <h3>Time Periods</h3>
    <ul class="no-bullet">
      <li><a href="#">&lt; 900</a></li>
      <li><a href="#">900 - 999</a></li>
      <li><a href="#">1000 - 1099</a></li>
      <li><a href="#">1100 - 1199</a></li>
      <li><a href="#">1200 - 1299</a></li>
      <li><a href="#">1300 - 1399</a></li>
      <li><a href="#">1400 - 1499</a></li>
      <li><a href="#">1500 - 1599</a></li>
      <li><a href="#">1600 - 1699</a></li>
      <li><a href="#">1700 - 1799</a></li>
      <li><a href="#">1800 - 1899</a></li>
      <li><a href="#">1900 - 1999</a></li>
      <li><a href="#">&gt; 2000</a></li>
    </ul>
  </div>
  <div class="large-3 columns home-page-list">
    <h3>Repositories</h3>

    <ul class="no-bullet">
      <li><a href="#">Widener</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Schlesinger+Library+on+the+History+of+Women+in+America&search_field=all_fields">Schlesinger</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Harvard+University+Archives&search_field=all_fields">HU Archives</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Fine+Arts+Library&search_field=all_fields">Fine Arts</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Harvard+College+Library+Harvard-Yenching+Library&search_field=all_fields">Harvard-Yenching</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Harvard+Law+School+Library&search_field=all_fields">Law School</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Eda+Kuhn+Loeb+Music+Library&search_field=all_fields">Loeb Music</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Baker+Library.+Harvard+Business+School&search_field=all_fields">Baker</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Countway+Library+of+Medicine&search_field=all_fields">Countway</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Tozzer+Library&search_field=all_fields">Tozzer</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Houghton+Library&search_field=all_fields">Houghton</a></li>
      <li><a href="/catalog?f%5BownerCodeDisplayName%5D%5B%5D=Dumbarton+Oaks+Research+Library&search_field=all_fields">Dumbarton Oaks</a></li>
      <li>&nbsp;</li>
      <li><a href="#">+ See All Repositories</a></li>
    </ul>

  </div>
</div>

<div class="lower-background">

  <div class="row">
    <div class="large-12 columns">
      <h2>Featured Collections</h2>
    </div>
  </div>
  <div class="row">
    <div class="large-3 columns home-page-spotlight-projects">
      <div class="spotlight-card">
        <a href="http://colonialnorthamerica.library.harvard.edu/spotlight/cna"><%= image_tag('spotlight-1.png') %></a>
        <h3><a href="http://colonialnorthamerica.library.harvard.edu/spotlight/cna">Colonial North American Project</a></h3>
        <a href="http://colonialnorthamerica.library.harvard.edu/spotlight/cna" class="view">View items in this collection</a>
      </div>
    </div>
    <div class="large-3 columns home-page-spotlight-projects">
      <div class="spotlight-card">
        <a href="http://hls.harvard.edu/library/digital-collections-and-exhibitions/joseph-berry-keenan-digital-collection/"><%= image_tag('spotlight-2.png') %></a>
        <h3><a href="http://hls.harvard.edu/library/digital-collections-and-exhibitions/joseph-berry-keenan-digital-collection/">Joseph Berry Keenan Digital Collection</a></h3>
        <a href="http://hls.harvard.edu/library/digital-collections-and-exhibitions/joseph-berry-keenan-digital-collection/" class="view">View items in this collection</a>
      </div>
    </div>
    <div class="large-3 columns home-page-spotlight-projects">
      <div class="spotlight-card">
        <a href="http://hcl.harvard.edu/libraries/houghton/collections/picturingprayer/"><%= image_tag('spotlight-3.png') %></a>
        <h3><a href="http://hcl.harvard.edu/libraries/houghton/collections/picturingprayer/">The Book of Hours</a></h3>
        <a href="http://hcl.harvard.edu/libraries/houghton/collections/picturingprayer/" class="view">View items in this collection</a>
      </div>
    </div>
    <div class="large-3 columns home-page-spotlight-projects">
      <div class="spotlight-card">
        <a href="https://library.mcz.harvard.edu/burkhardt"><%= image_tag('spotlight-4.png') %></a>
        <h3><a href="https://library.mcz.harvard.edu/burkhardt">Jacques Burkhardt Collection</a></h3>
        <a href="https://library.mcz.harvard.edu/burkhardt" class="view">View items in this collection</a>
      </div>
    </div>
  </div>
</div>